.nav-main {
    background-color: #323334;
    padding: 0.3rem; 
}

.nav-div {
    display: flex;
    color: black;
    background-color: white;
    margin: 0.5rem 0.5rem;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 1rem;
}

.nav-heading {
    margin-left:0.5rem;
}