.home-main {
    background-color: #323334;
    height: 88vh;
    padding: 0.5rem;
}

.search-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5rem;
    align-items: center;
}

.icons-search {
    color: white;
    position: absolute;
    left: 2rem;
    top: 7.5rem
}

.add-con {
    padding-top: 1rem;
}

.search-input {
    width: 80%;
}

.input-area {
    width: 75%;
    height: 1.5rem;
    padding: 0.5rem 2rem;
    background-color: #323334;
    color: white;
    border-color: white;
    border: solid 0.1rem;
    border-radius: 0.5rem;
    &::placeholder {
        color: white;
    }
}

.add-contact {
    background-color: white;
    color: black;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    
}

.home-contact {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 70%;
    padding: 0.1rem;
}

.plus-sym {
    font-size: 2.3rem;
    font-weight: 800;
    position: absolute;
    right: 1.7rem;
    top: 6.8rem;
}

.home1-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.no-contact {
    color: white;
}